@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html{
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
}

.logoContainer a {
  text-decoration: none;
}

.container .logo {
  color: #d700ffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.2rem;
  text-decoration: none;
}

.container .logo::first-letter {
  color: rgb(132, 12, 153);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: underline;
}

.container .logo:hover {
  color: rgb(56, 50, 50);
}

.container .logo:hover::first-letter {
  color: rgb(32, 29, 29);
}

header {
  background-color: #06bef9;
  padding: 0px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navLinks {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  display: none;
  flex-direction: column;
  width: 35px;
  height: 40px;
  cursor: pointer;
}

.menu-icon .span-style {
  display: none;
  background-color: rgb(72, 9, 83);
  width: 100%;
  height: 5px;
  margin: 5px 0px;
  border-radius: 10%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

nav ul li a:hover {
  color: #242121;
  text-decoration: underline;
}

.dark-mode {
  background-color: #020202e5;
  color: #ffffff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e06646e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4fa0df;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.hero .container .hero-content .hero-message {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.74);
  box-shadow: 5px 8px 17px rgba(188, 106, 226, 0.541);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    80deg,
    #90c5e4,
    #91c46fad,
    #fff,
    #b76fd875,
    #ebdc0652,
    #a3d7f5
  );
  background-size: 300% 100%;
  animation: gradient 18s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero .container .hero-content .hero-message img {
  width: 400px;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #000;
  margin: 20px;
}

.hero .container .hero-content .hero-message .text {
  width: 35%;
}

.content .comment_1 {
  width: 50%;
  padding: 10px;
}

.comment_1 h1 {
  color: rgb(1, 15, 216);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.comment_1 h2 {
  font-size: 1.6rem;
  font: weight 200px;
}

.comment_1 h3 {
  font-size: 1.4rem;
  font: weight 150px;
  text-align: left;
  color: rgb(255, 51, 0);
}
.comment_1 p {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-align: left;
}

.container .comment_1 .marginLeft {
  margin-left: 20px;
}

.container .comment_1 .button {
  width: 150px;
  color: rgb(255, 255, 255);
  background-color: rgba(192, 1, 255, 0.849);
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 12px;
  text-decoration: none;
}

.comment_1 .button:hover {
  color: rgba(0, 0, 0, 0.877);
  background-color: gainsboro;
  border: solid 3px goldenrod;
  text-decoration: underline;
  transition: all 0.2s;
}

.container .about-content {
  background-image: url(../Resources/Images/Intersect.png);
  background-size: cover;
  display: flex;
  height: 400px;
  padding-top: 30px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container .about-content img {
  width: 300px;
  background-color: transparent;
}
.container .about-content .about-text {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 1.2rem;
}

.section {
  padding: 30px 0;
}

.section h2 {
  text-align: center;
  text-decoration: underline;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  text-align: center;
}

.portfolio-item h3 {
  color: red;
}

.portfolio-item a {
  color: rgba(38, 35, 228, 0.938);
}

.portfolio-item img {
  width: 100%;
  height: 200px;
}

.hardware-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

video,
iframe {
  width: 400px;
  height: 315px;
}

.contactContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 60%;
  margin-bottom: 70px;
  padding-top: 20px;
  background-color: #f8f7f785;
  border-radius: 10px;
}

.contactContent .linkUp {
  text-align: left;
}

.contactContent .linkUp a {
  margin: auto;
  text-decoration: none;
  color: #1809e9;
}

.contactContent .linkUp a:hover {
  color: rgb(151, 79, 79);
}

.contactContent .contactMessage {
  width: 50%;
  margin: auto;
  padding: 20px;
  font-size: 1.3rem;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}
.social{
  display: flex;
  gap: 20px;
}

.social .icon a:hover{
  color: rgb(151, 79, 79);
}

.fa-envelope,
.fa-phone {
  margin-right: 10px;
}

footer {
  background-color: #06bef9;
  color: #000000;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-message {
  margin-right: auto;
}

.footer-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media all and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .hero .container .hero-content .hero-message {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }

  .hero .container .hero-content .hero-message img {
    width: 300px;
    margin: auto;
  }

  .hero .container .hero-content .hero-message .text {
    width: 50%;
    padding-bottom: 40px;
  }

  .container .about-content {
    height: 600px;
    width: 100%;
    padding-top: 0px;
    margin-bottom: 30px;
  }

  .container .about-content .about-text {
    width: 100%;
    font-size: 1.2rem;
  }

  .section {
    padding: 50px 0;
  }

  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  .portfolio-item img {
    width: 100%;
    height: 200px;
  }

  .hardware-videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }

  .contactContent {
    width: 80%;
    margin: 0px;
  }

  .footer-image img {
    margin-right: 50px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .container {
    max-width: 100%;
  }

  .hero .container .hero-content .hero-message {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
  }

  .hero .container .hero-content .hero-message img {
    width: 300px;
  }

  .hero .container .hero-content .hero-message .text {
    width: 40%;
  }

  .content .comment_1 {
    width: 40%;
  }

  .container .about-content {
    height: 600px;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .container .about-content img {
    width: 300px;
  }

  .container .about-content .about-text {
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
  }

  .section {
    padding: 50px 10px;
  }

  .portfolio-item img {
    width: 80%;
    height: auto;
  }

  .hardware-videos {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
  }

  .footer-image img {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  body > header > div > nav > div.switch-container {
    order: 0;
    display: none;
  }

  .container {
    max-width: 100%;
  }

  nav ul {
    background-color: #87d9f5f5;
    width: 100%;
    height: 200px;
  }

  .navLinks {
    display: none;
  }

  nav ul li {
    display: block;
    margin: 10px 0px 0px 20px;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon .span-style {
    display: block;
  }

  .active {
    display: block;
  }

  nav ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    position: absolute;
    top: 100px;
    right: 0;
  }

  nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  header {
    background-color: #06bef9;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero .container .hero-content .hero-message {
    height: 500px;
    padding: 5px;
  }

  .hero .container .hero-content .hero-message img {
    width: 300px;
  }

  .container .about-content {
    background-image: url(../Resources/Images/Intersect.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 100%;
    padding-top: 50px;
  }

  .container .about-content img {
    width: 300px;
  }

  .container .about-content .about-text {
    width: 90%;
  }

  .hardware-videos {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .contactContent {
    flex-direction: column;
    width: 80%;
    margin: auto !important;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .contactContent .contactMessage {
    width: 90%;
    padding: 0px;
    font-size: 1.3rem;
    line-height: 1.4;
  }

  footer {
    width: 100%;
    background-color: #06bef9;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-message {
    margin: auto;
  }

  .footer-image img {
    margin-right: 80px !important;
  }
}

@media all and (max-width: 458px) {
  .container {
    margin-right: 20px;
  }

  .hero .container .hero-content .hero-message {
    height: 1000px;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .hero .container .hero-content .hero-message .text {
    width: 90%;
    order: 2;
  }

  .hero .container .hero-content .hero-message img {
    width: 250px;
    order: -1px;
  }

  .container .comment_1 .marginLeft {
    margin-left: 0px;
  }

  .container .comment_1 .btnContainer {
    width: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 5px;
  }

  .container .about-content {
    height: 1300px;
  }

  .container .about-content img {
    width: 250px;
  }
    
     video,
    iframe {
      width: 350px;
      height: 250px;
    }

   
    .contactContent {
      flex-direction: column;
      width: 80%;
      margin: auto !important;
      margin-bottom: 20px;
      padding-top: 20px;
      text-align: center;
    }

    .footer-image img {
      margin-right: 40px !important ;
    }
  }


@media all and (max-width: 400px) {
  .container {
    margin-right: 0px;
  }

  .container .about-content {
    height: 1350px;
  }

  .hardware-videos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
   }

   video,
   iframe {
     width: 300px;
     height: 250px;
   }


  .footer-image img {
    margin-right: 60px !important ;
  }
}

@media all and (max-width: 380px) {
  .hero .container .hero-content .hero-message {
    height: 1100px;
  }

  .container .about-content {
    height: 1450px;
  }
}

@media all and (max-width: 350px) {
  .hero .container .hero-content .hero-message {
    height: 1100px;
  }

  .container .about-content {
    height: 1600px;
  }
}
